@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    position: relative;
    width: 1280px;
    height: 720px;
    display: block;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.time-overlay {
    position: absolute;
    width: auto;
    height: auto;
    right: 1rem;
    top: 0.5rem;
    color: #fff;
    font-size: 24px;
    font-family: 'Noto Sans Mono', monospace;
    z-index: 1;
}

.end-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: all 1500ms ease;
}

.end-overlay h2 {
    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease;
}

.end-overlay.show {
    visibility: visible;
    opacity: 1;
}

.end-overlay h2.show {
    visibility: visible;
    opacity: 1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
}